@product-info-content__bg-color: @autoBase-color-solitude;
@product-price-box-price__text-color: @autoBase-color-nobel;
@product-alert__border-color: @autoBase-color-torch-red;
@product-overview__text-color: @autoBase-color-grey;
@product-related-stock-available__text-color: @autoBase-color-ocean-green;
@product-related-stock-unavailable__text-color: @autoBase-color-nobel;
@product-related-stock-availability-only__text-color: @autoBase-color-torch-red;
@product-old-price__text-color: @autoBase-color-coral;
@product-sale-block__bg-color: @autoBase-color-coral;
@product-sale-block__text-color: @autoBase-color-white;
@fotorama-frame__border-color: @autoBase-color-solitude;
@fotorama-frame__border-color__active: @autoBase-color-gorse;
@product-info-main__width: 697px;
@related-products-heading__font-size: 25px;
@fotorama-nav__min-width: 139px;
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-layout-1column .column.main {
        padding-top: 17px;

        .product-info-main {
            width: @product-info-main__width;
            box-sizing: border-box;
        }

        .product.media {
            width: calc(~'(100% - @{product-info-main__width})');
            box-sizing: border-box;
            margin-bottom: 63px;
        }
    }

    .product.media {
        .fotorama-item {
            overflow: visible;

            .fotorama__wrap {
                .fotorama__nav-wrap {
                    left: -7px;
                }

                .fotorama__nav {
                    min-width: @fotorama-nav__min-width;
                    max-height: 100%;
                    padding-top: 14px;
                }

                .fotorama__stage {
                    max-height: 430px;
                    max-width: calc(~'(100% - @{fotorama-nav__min-width})');
                }

                .fotorama__stage__shaft {
                    left: 17px;
                }

                .fotorama__nav__shaft {
                    .flex-mixin(@align: flex-start);
                    flex-wrap: wrap;
                }

                .fotorama__thumb-border {
                    display: none;
                }

                .fotorama__thumb {
                    background-color: @autoBase-color-white;
                }

                .fotorama__nav__frame {
                    margin: 0 0 9px 0;
                    border: 1px solid @fotorama-frame__border-color;
                    padding: 5px !important;
                    box-sizing: border-box;
                    position: relative;
                    cursor: pointer;

                    &.fotorama__active {
                        border-color: @fotorama-frame__border-color__active;
                    }

                    &:nth-child(3) {
                        .fotorama__img {
                            display: none;
                        }

                        &::before {
                            content: '';
                            .background-image-mixin(@image: 'capture.png', @widthImg: 20px, @heightImg: 36px);
                            .middle-mixin();
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    .product-info-main {
        .product-info-price {
            .flex-mixin(@justify: flex-start);
            margin: @indent__s 0;
        }

        .product-info-stock-sku {
            display: inline-block;
        }

        .stock {
            &.available,
            &.unavailable {
                font-weight: @font-weight__regular;
                text-transform: none;
                margin-right: 28px;
            }
        }

        .product-reviews-summary {
            display: inline-block;
            margin: 0;

            .reviews-actions {
                font-size: @autoBase__font-size__base;
                padding-left: 38px;
                color: @product-review-link__text-color;

                a.action {
                    border-bottom: 1px solid @product-review-link__text-color;
                    position: relative;
                    margin-right: 45px;

                    &:hover {
                        border-bottom-color: @autoBase__color__hover;
                    }

                    &::before {
                        content: '';
                        .absolute-position-mixin(@left: -6px, @translateX: -100%);
                    }
                }

                .action.view::before {
                    .background-image-mixin(@image: 'feedback.png', @widthImg: 12px, @heightImg: 11px);
                }

                .action.question::before {
                    .background-image-mixin(@image: 'question.png', @widthImg: 13px, @heightImg: 13px);
                }

                .action.add {
                    display: none;
                }
            }
        }

        .product-info-content {
            margin-top: 36px;
            background-color: @product-info-content__bg-color;
            padding: 30px 36px 20px 29px;
        }

        .price-box {
            margin-top: 0;
            margin-bottom: @indent__s;

            .price-wrapper .price {
                .lib-font-size(40);
                display: inline-block;
                color: @product-price-box-price__text-color;
                padding-left: 2px;
                margin-top: @indent__xs;
            }
        }

        .product.alert {
            display: inline-block;
            border: 2px solid @product-alert__border-color;
            box-sizing: border-box;
            margin: 16px 0;

            .alert {
                display: inline-block;
                font-weight: @font-weight__bold;
                .lib-font-size(18);
                padding: 12px 26px 11px 40px;
            }
        }

        .product.attribute.overview {
            margin: 13px 0;

            .value {
                .lib-font-size(12);
                color: @product-overview__text-color;

                p {
                    margin-bottom: 0;
                    line-height: 14px;
                }
            }
        }

        .product-social-links {
            text-align: left;
            .flex-mixin(@justify: flex-start);
            padding-top: 9px;

            .product-addto-links {
                display: inline-block;
                margin: 0;
                line-height: @line-height__l;
                order: 2;

                .action.tocompare {
                    position: relative;
                    display: block;
                    font-size: @autoBase__font-size__base;
                    padding: 0 8px;

                    &::before {
                        content: '';
                        .absolute-position-mixin(@left: -2px, @translateX: -100%);
                        .background-image-mixin(@image: 'comparison_25_18.png',@widthImg: 25px, @heightImg: 18px);
                    }
                }
            }

            .action.mailto.friend {
                position: relative;
                display: inline-block;
                order: 1;
                padding-left: @indent__l;
                margin-right: 59px;
                margin-left: 0;
                line-height: @line-height__l;

                &::before {
                    content: '';
                    .absolute-position-mixin(@left: 0, @translateX: 0);
                    .background-image-mixin(@image: 'linkto.png',@widthImg: 19px, @heightImg: 21px);
                }
            }
        }
    }

    .block.related {
        clear: both;
        margin-bottom: @indent__m;

        .related-product.stock.sku {
            font-size: @font-size__s;
            margin-top: 16px;
            .clearfix-mixin();

            .attribute.sku,
            .stock.available,
            .availability.only,
            .stock.unavailable {
                display: inline-block;
            }

            .attribute.sku {
                float: left;
            }

            .stock.available,
            .stock.unavailable,
            .availability.only {
                float: right;
            }

            .stock.available {
                color: @product-related-stock-available__text-color;

                i {
                    margin-right: @indent__xs;
                }
            }

            .availability.only {
                color: @product-related-stock-availability-only__text-color;
            }

            .stock.unavailable {
                color: @product-related-stock-unavailable__text-color;
            }
        }

        .product-item-details .price-box {
            margin: 8px 0 @indent__xs 0;
        }

        .owl-carousel .owl-nav {
            .flex-mixin();
            .absolute-position-mixin(-23px, 100%, -100%, -100%);
        }
    }

    .column.main .block .title strong {
        font-size: @related-products-heading__font-size;
        letter-spacing: 0.9px;
    }

    .product-image-container {
        display: inline-block;
        //width: 100% !important;
    }

    .old-price,
    .old.price {
        color: @product-old-price__text-color;
    }

    .products-related .owl-carousel .owl-nav button {
        &.owl-next,
        &.owl-prev {
            .block-mixin(44px, 44px);
            background-color: @slider-nav-button__bg-color;
            border-radius: 0;
            color: @slider-nav-button-chevron__bg-color;
            position: relative;

            &.disabled {
                background-color: @slider-nav-button__bg-color__disabled;
                opacity: 1;
            }

            span {
                .middle-mixin();
                .lib-font-size(35);
            }
        }
    }
}
